/* global  */


*{
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Proxima Soft";
    src: url("/font/proximasoft/ProximaSoft-Bold.woff");
} 

body{
    font-family: "Proxima Soft", sans-serif;
    position: relative;
}


/* header  */

.nav-link{
    border-right: 1px solid white;
    font-size: 25px;
    padding: 0 20px !important;
}


/* main  */


h1{
    color: #ff6776;
    font-size: 3rem;
    margin-bottom: 45px;
    /* margin: 40px 0; */
}

#why, #what, #who, #results, #credits{
    margin: 70px 0;
}

.nevi-font{
    color: rgb(41, 50, 65);
    margin-bottom: 40px;
}


/* home  */

.hero{
    margin-top: 140px;
}

/* exit button details  */

.exit-button{
    position: fixed;
    top: 140px;
    right: 0px;
    width: 6%;
}

.exit-details{
    margin-bottom: 120px;
}

/* what section container  */

.what{
    margin-bottom: 35px;
    align-items: center;
}

.what h1{
    font-size: 6rem;
}

.single-letter{
    font-size: 4em;
    width: 75%;
}

.add-border{
    border-bottom: 1px solid black;
    align-items: center;
}

.font-color{
    color: #ff6776;
}

/* credits  */

.youth-img{
    margin: 70px 0;
}

.footer{
    background-color: #ff6776;
    color:#fff;
    margin-top: 70px;
}